<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>All registered users in database</h2>

<ul>
    <% rows.forEach(function(r) { %>
        <li>Name: <b><%= r.fname %></b>, Last Name: <b><%= r.lname %></b>, Username: <b><%= r.uname %></b>, Password: <b><%= r.fpassword %></b></li>
    <% }); %>
</ul>
<form class ="page" action ="/logout" method = "get">
    <input type="submit" name = "logout" value = "Log out">
</form>
</div>
</body>
</html>
