<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Schedule</title>
</head>
<body>
    <h1>Currently enrolled courses</h1>
    <% enrolled.forEach(function(e){%>
        <form action = '/delete' method = 'POST'>
            <p><b><%=e.course%></b>, <%=e.location%>, <%=e.days%>, <%=e.startt%>-<%=e.endt%></p>
            <input type="submit" value ="Drop Course">
            <input type="hidden" name="fcourse" value="<%=e.course%>"></input>
        </form>
    <%})%>
    <h2>Find your class!</h2>
    <div>
        <form action = '/schedule' method= 'POST'>
            <input class = "prof" type="text" placeholder="Course (e.g., CMPT120)" name="fcourse">
            <input type ="submit" value = "Submit">
        </form>
    </div>
    <% if (classes.length > 0) { %>
        <% classes.forEach(function(c){%>
            <% if(c.desc !=null){%>
                <p><%= c.desc%></p>
                <%if(c.prereq !=''){%>
                    <p><b>Prerequisite:</b> <%= c.prereq%></p>
                <%}%>
                <%if(c.notes!=''){%>
                    <p><b>Notes:</b> <%= c.notes%></p>
                <%}%>
            <%}else{%>
                <form action = '/enroll' method = 'POST'>
                    <p><b><%=c.name.trim()%>, <%=c.days%>, <%=c.start%>-<%=c.end%></b></p>
                    <p><%=c.campus%>, <%=c.room%> <%=c.roomNum%></p>
                    <p><%=c.prof%></p>
                    <input type="hidden" name="fname" value="<%=c.name.trim()%>"></input>
                    <input type="hidden" name="fcampus" value=<%=c.campus%>></input>
                    <input type="hidden" name="fprofessor" value="<%=c.prof%>"></input>
                    <input type="hidden" name="fdays" value="<%=c.days%>"></input>
                    <input type="hidden" name="fstart" value=<%=c.start%>></input>
                    <input type="hidden" name="fend" value=<%=c.end%>></input>
                    <input type ="submit" value = "Enroll">
                </form>
            <%}%>
        <%})%>
    <%}%>
    <h2>Find your professor!</h2>
    <div>
        <form action = '/schedule' method = 'POST'>
            <input class = "prof" type="text" placeholder="Name (e.g., Bobby Chan)" name="fname">
            <input class = "prof" type="text" placeholder="Subject Code (e.g., CMPT)" name="subj">
            <input type ="submit" value = "Submit">
        </form>
    </div>
    <% if (results.length > 0) { %>
        <% results.forEach(function(r){%>
            <% if(r.fname !=null){%>
                <h1><%= r.fname %> <%= r.lname %> has an average rating of <%= r.r %>/5</h1>
            <%}else{%>
                <% if(r.grade != ''){ %>
                    <h2><%= r.class %> <%= r.rating %>/5 (<%= r.grade%>)</h2>
                    <p><%= r.comment %></p>
                <% }else{ %>
                    <h2><%= r.class %> <%= r.rating %>/5 (N/A)</h2>
                    <p><%= r.comment %></p>
                <% } %>
            <%}%>
        <%}) %>
    <% } %>
    <a href="https://sfunited.herokuapp.com/dashboard">
        <button>Dashboard</button>
    </a>
</body>
</html>